html, body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #1845db;
}

header {
	background-color: #348d8e;
	padding: 40px;
	text-align: center;
	border-bottom: 15px solid #efc12b;
}

header img {
	border-radius: 150px;
	border: 15px solid #efc12b;
	box-shadow: 0 10px 20px black;
}

h1 {
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	text-transform: uppercase;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

h2 {
	text-align: center;
	background-color: white;
	border-radius: 30px;
	color: darkred;
	box-shadow: 0 5px 10px black;
}

p, ol {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 5px 10px black;
	padding: 20px;
}

ol {
	list-style: none;
}

img.big-image {
	max-width: 100%;
}

.caption{
	font-size: 12px;
	color: lightgrey;
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: darkred;
	text-decoration: none;
}

footer {
	border-top: 15px solid #efc12b;
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #348d8e;
	color: white;
}

footer ul {
	text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 0 5px;
}